#!/usr/bin/make -f

export PYBUILD_NAME=gssapi

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	python setup.py nosetests

override_dh_auto_clean:
	find . -name \*.pyc -or -name \*.c -or -name \*.so -or -name \*.egg -delete
